<div class="container">
  <div class="row login">
    <div class="col-md-3 col-sm-1">
    </div>
    <div class="col-md-6 col-sm-10 col-xs-12">
      <section>
        <div class="panel panel-signin">
          <div class="panel-body">
            <h2 class="text-center mb5">买单侠</h2>
            <h6 class="text-center mb5">商户管理平台</h6>
            <div class="mb30"></div>
            <form (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-2 col-xs-1"></div>
                <div class="col-md-8 col-xs-10">
                  <div class="input-group mb8">
                    <input type="text" name="user"
                           [(ngModel)]="_userName"
                           (blur)="checkUser()"
                           class="form-control" placeholder="请输入用户名" autocomplete="off" >
                    <span class="checkok" [hidden]="_nameChecked ? true : false"></span>
                    <div class="alert-error" [hidden]="_nameError == '' ? true : false" >{{_nameError}}</div>
                  </div>
                </div>
                <div class="col-md-2 col-xs-1"></div>

              </div>
              <div class="row">
                <div class="col-md-2 col-xs-1"></div>
                <div class="col-md-8 col-xs-10">
                  <div class="input-group mb8">
                    <input type="password" name="password"
                           (blur)="checkPassword()"
                           [(ngModel)]="_password"
                           class="form-control" placeholder="请输入密码" autocomplete="off" >
                    <span class="checkok" [hidden]="_passwordChecked ? true : false"></span>
                    <div class="alert-error" [hidden]="_passwordError == '' ? true : false">{{_passwordError}}</div>
                  </div>
                  <div class="col-md-2 col-xs-1"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-xs-1"></div>
                <div class="col-md-8 col-xs-10">
                  <div class="input-group mb8">
                    <input type="text" name="captcha"
                           [(ngModel)]="_captcha"
                           (blur)="checkCaptcha()"
                           class="captcha form-control" placeholder="请输入图形验证码" autocomplete="off" maxlength="4">
                    <img id="captcha-img" class="captcha-img" alt="">
                    <span class="checkok" [hidden]="_captchaChecked ? true : false"></span>
                    <div class="alert-error" [hidden]="_captchaError == '' ? true : false">{{_captchaError}}</div>
                  </div>
                </div>
                <div class="col-md-2 col-xs-1"></div>
              </div>

              <div class="row">
                <div class="col-md-3 col-xs-1"></div>
                <div class="col-md-6 col-xs-10">
                  <button
                    [disabled]="_nameError != '' || _passwordError != '' || _captchaError != ''"
                    type="submit" id="commit" class="btn btn-success">登录</button>
                </div>
                <div class="col-md-3 col-xs-1"></div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-3 col-sm-1">
    </div>
  </div>

</div>
