<ul class="list-group">
    <li #level1 class="list-group-item first-level"
        [class.active]="level1 == activeRouter"
        *ngFor="#firstLevelItem of myTreeJson #firstIndex=index">
        <a #header1 (click)="choseLevel(header1,level1)">
            <i *ngIf="firstLevelItem.icon"><img src="{{firstLevelItem.icon}}" /></i>
            <span>{{firstLevelItem.title}}</span>
            <span class="arrow" *ngIf="firstLevelItem.children" [class.rotate]="!header1.open"></span>
        </a>
        <ul *ngIf="firstLevelItem.children"
            [class.heightAuto]="header1.open && header1.timeout"
            [class.collapse-off]="!header1.open"
            [class.collapse-on]="header1.open">
            <li #level2 class="second-level"
                [class.active]="level2 == activeRouter"
                *ngFor="#secondLevelItem of firstLevelItem.children #secondIndex=index">
                <a #header2 (click)="choseLevel(header2,level2)">
                    <i *ngIf="secondLevelItem.icon"><img src="{{secondLevelItem.icon}}"></i>
                    <span>{{secondLevelItem.title}}</span>
                    <span class="arrow" *ngIf="secondLevelItem.children" [class.rotate]="!header2.open"></span>
                    <span *ngIf="secondLevelItem.tag">{{secondLevelItem.tag}}</span>
                </a>
                <ul *ngIf="secondLevelItem.children"
                    [class.heightAuto]="header2.open && header2.timeout"
                    [class.collapse-off]="!header2.open"
                    [class.collapse-on]="header2.open">
                    <li #level3 class="third-level"
                        [class.active]="level3 == activeRouter"
                        *ngFor="#thirdLevelItem of secondLevelItem.children #thirdIndex=index">
                        <a #header3 (click)="choseLevel(header3,level3)">
                            <i *ngIf="thirdLevelItem.icon"><img src="{{thirdLevelItem.icon}}"></i>
                            <span>{{thirdLevelItem.title}}</span>
                            <span *ngIf="thirdLevelItem.tag">{{thirdLevelItem.tag}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>